// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-post {
	padding-top: 50px;
}

.message {
	position: fixed;
	padding-top: 15%;
	padding-left: 90%;
}
